# BACKEND
BACKEND_URL: str = "http://localhost:8080"
SERVICE_API_KEY=""

# DB
DATABASE_URL=""
SECRET_KEY=""

# DEBUG STATE
DEBUG=True

# AUTH
ACCESS_TOKEN_EXPIRE_MINUTES=30

# GOOGLE AUTH
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# LINKEDIN AUTH
LINKEDIN_CLIENT_ID=""
LINKEDIN_CLIENT_SECRET=""

# EMAIL
SMTP_HOST=""
SMTP_PORT=
SMTP_USER=""
SMTP_PASSWORD=""
SMTP_FROM_EMAIL="no-reply@azens.net"
FRONTEND_URL="https://www.azens.net"

# AWS S3
AWS_ACCESS_KEY=""
AWS_SECRET_ACCESS_KEY=""
AWS_REGION=""
AWS_S3_BUCKET_NAME=""

# STRIPE
STRIPE_API_KEY=""
STRIPE_WEBHOOK_SECRET=""

# OPENAI
OPENAI_API_KEY=""
OPENAI_MODEL_FEEDBACK=""
OPENAI_MODEL_INTERVIEWS=""

# DAILY
DAILY_API_KEY=""
DAILY_ROOM_URL=""

# CARTESIA (STT/TTS)
CARTESIA_API_KEY=""
CARTESIA_VOICE_ID_EN="79f8b5fb-2cc8-479a-80df-29f7a7cf1a3e" # Theo
CARTESIA_VOICE_ID_DE="b7187e84-fe22-4344-ba4a-bc013fcb533e" # Sebastian
CARTESIA_VOICE_ID_ES="13ff5deb-2591-42ad-a356-63a04e524411" # Marcos
CARTESIA_VOICE_ID_IT="ee16f140-f6dc-490e-a1ed-c1d537ea0086" # Lorenzo
CARTESIA_VOICE_ID_NL="da743a82-ddf2-4d9b-8eb8-ff67ca0b138e" # Stijn

# DEEPGRAM (STT/TTS)
DEEPGRAM_API_KEY=""

# PIPECAT
PIPECAT_API_KEY=""
PIPECAT_AGENT_NAME_CV="cv-screener"
PIPECAT_AGENT_NAME_KNOWLEDGE=""
PIPECAT_AGENT_NAME_CASE_STUDY=""
