# Copy this file to .env and fill in your API keys

# Daily (Transport)
DAILY_API_KEY=
DAILY_ROOM_URL=  # Optional: leave empty to create a new room

# Cartesia (STT/TTS)
CARTESIA_API_KEY=
CARTESIA_VOICE_ID= # "71a7ad14-091c-4e8e-a314-022ece01c121" # British Reading Lady

# Deepgram (STT/TTS)
DEEPGRAM_API_KEY=

# OpenAI (STT/LLM/TTS/Realtime)
OPENAI_API_KEY=
OPENAI_MODEL=

# DB
DATABASE_URL=
SECRET_KEY=

# DEBUG STATE
DEBUG=True

# AUTH
ACCESS_TOKEN_EXPIRE_MINUTES=30
