# Daily (Transport)
DAILY_API_KEY=
DAILY_ROOM_URL=  # Optional: leave empty to create a new room

# Cartesia (STT/TTS)
CARTESIA_API_KEY=
CARTESIA_VOICE_ID_EN="79f8b5fb-2cc8-479a-80df-29f7a7cf1a3e" # Theo
CARTESIA_VOICE_ID_DE="b7187e84-fe22-4344-ba4a-bc013fcb533e" # Sebastian
CARTESIA_VOICE_ID_ES="13ff5deb-2591-42ad-a356-63a04e524411" # Marcos
CARTESIA_VOICE_ID_IT="ee16f140-f6dc-490e-a1ed-c1d537ea0086" # Lorenzo
CARTESIA_VOICE_ID_NL="da743a82-ddf2-4d9b-8eb8-ff67ca0b138e" # Stijn

# Deepgram (STT/TTS)
DEEPGRAM_API_KEY=

# OpenAI (STT/LLM/TTS/Realtime)
OPENAI_API_KEY=
OPENAI_MODEL=

# PIPECAT
PIPECAT_API_KEY=

